/* -------------------- Page Layout -------------------- */
.shopping-list-page {
    background-color: var(--bg);
    color: var(--fg);
    margin-top: 80px;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    /* leave space for fixed top-bar */
}

.shopping-lists {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.shopping-lists-container {
    padding: 1em;
}