/* -------------------- Page Layout -------------------- */
.shopping-list-page {
    background-color: var(--bg);
    color: var(--fg);
    margin-top: 80px;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    /* leave space for fixed top-bar */
}